@import url('/src/assets/Montserrat-Regular.ttf');

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 18;

        .title {
            padding-left: 90px;
            margin-bottom: 20px;
            font-size: 10vw;
            font-weight: bold;
            text-align: left;
            color: #FFFFF0;
            font-family: 'Montserrat', sans-serif;
            z-index: 18;

            @media (max-width: 768px) {
                padding: 0px 30px;
            }

            span {
                font-size: 10vw;
                font-family: 'Montserrat', sans-serif;
                z-index: 18;
                
                text-shadow: 1px 1px 0 #ffcd09,
                             2px 2px 0 #ffcd09,
                             3px 3px 0 #ffcd09,
                             4px 4px 0 #ffcd09,
                             5px 5px 0 #ffcd09,
                             6px 6px 0 #ffcd09;
                             
                @media (max-width: 768px) {
                    text-shadow: 1px 1px 0 #ffcd09,
                                 2px 2px 0 #ffcd09,
                                 3px 3px 0 #ffcd09;
                }
            }

        }
        .subtitle {
            font-size: 2vw;
            font-family: 'Montserrat', sans-serif;
            padding-left: 80px;
            text-align: left;
            color: #FFFFF0;
            z-index: 10;
            
            @media (max-width: 768px) {
                padding: 0px 30px;
            }
        }
    }
}